Repository mazipan/hello-open-source, pull requests merged in 2023-10, with the labels that each got.

#573 Create Anant.js
  people/Anant.js
Labels: automerge

#577 Create labeler.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labeler.yml
Labels: automerge

#576 Added Profile
  people/Happy-Singh.js
Labels: automerge

#579 Add AashikBharti
  people/AashikBharti.js
Labels: automerge

#581 Added my profile
  people/Niraj.js
Labels: automerge

#583 Added my profile
  people/kishanrajput23.js
Labels: automerge

#585 Added SakshamBhugra.js
  people/SakshamBhugra.js
Labels: automerge

#586 Created js file
  people/Rohan-Kumar.js
Labels: automerge

#588 Added files
  people/Shubham13k.js
Labels: automerge

#580 Addded my profile
  people/Suresh.js
Labels: automerge

#590 vidhijain.js
  people/vidhijain.js
  vidhijain.js
Labels: automerge

#592 amandeepsinghparihar
  people/amandeep-singh-parihar.js
Labels: automerge

#584 README-HI.md
  translations/README-HI.md
Labels: automerge, hacktoberfest-accepted

#595 updated my profile
  people/amitverma.js
Labels: automerge

#578 Create README-BN.md to add bengali translation of the repo
  translations/README-BN.md
Labels: hacktoberfest-accepted

#598 Added myself
  people/Bratajit-03.js
Labels: automerge, hacktoberfest-accepted

#599 Added User Info
  people/0x00zer0day.js
Labels: automerge, hacktoberfest-accepted

#602 ProfileAdded
  people/subhayudutta.js
Labels: automerge, hacktoberfest-accepted

#606 update
  people/soumyadeepgarai.js
Labels: automerge, hacktoberfest-accepted

#605 Add madjiebimaa.js file
  people/madjiebimaa.js
Labels: automerge, hacktoberfest-accepted

#604 addedjsfile
  people/AvinavCHATTERJEE2103028.js
Labels: automerge, hacktoberfest-accepted

#603 profileAdded
  people/ankoorgorai.js
Labels: automerge, hacktoberfest-accepted

#609 Create github_username.js
  people/github_username.js
Labels: automerge, hacktoberfest-accepted

#610 Create y4sh1k4.js
  people/y4sh1k4.js
Labels: automerge, hacktoberfest-accepted

#612 updated people
  people/github_amitverma147.js
Labels: automerge, hacktoberfest-accepted

#613 Added my name to the repository
  people/shubham-vartak.js
Labels: automerge, hacktoberfest-accepted

#614 Update mazipan.js
  people/mazipan.js
Labels: automerge, hacktoberfest-accepted

#616 Update mazipan.js
  people/mazipan.js
Labels: automerge, hacktoberfest-accepted

#617 Create daulatojha17.js
  people/daulatojha17.js
Labels: automerge, hacktoberfest-accepted

#619 Added new person in people
  people/Shubhamkyup
Labels: automerge, hacktoberfest-accepted

#620 Create kaustubh2904.js
  people/kaustubh2904.js
Labels: automerge, hacktoberfest-accepted

#621 Create Farukh.js
  people/Farukh.js
Labels: automerge, hacktoberfest-accepted

#622 updated the changes
  people/harshal.js
Labels: automerge, hacktoberfest-accepted

#624 Create sid.js
  people/sid.js
Labels: automerge, hacktoberfest-accepted

#626 Create OmkarDate29.js
  people/OmkarDate29.js
  vidhijain.html
Labels: automerge, hacktoberfest-accepted

#627 adding jt-pandey
  people/jt-pandey.js
Labels: automerge, hacktoberfest-accepted

#628 added
  people/Avtech04.js
Labels: automerge, hacktoberfest-accepted

#629 Added ram tyagi in people directory
  people/RamTyagi.js
Labels: automerge, hacktoberfest-accepted

#630 Create vinay.js
  people/vinay.js
Labels: automerge, hacktoberfest-accepted

#631 Added data
  people/dellucifer.js
Labels: automerge, hacktoberfest-accepted

#632 Added file about me
  people/prajwal.js
Labels: automerge, hacktoberfest-accepted

#623 updated the description
  people/mp.js
Labels: automerge, hacktoberfest-accepted

#633 Create vishal.js
  people/vishal.js
Labels: automerge, hacktoberfest-accepted

#636 added upendra.js
  people/upendra.js
Labels: automerge, hacktoberfest-accepted

#637 add upendra
  people/upendra.js
Labels: automerge, hacktoberfest-accepted

#639 Create vivek.js
  people/vivek.js
Labels: automerge, hacktoberfest-accepted

#642 people
  people/Rohan.js
Labels: automerge, hacktoberfest-accepted

#643 Create mridulsharma000.js
  people/mridulsharma000.js
Labels: automerge, hacktoberfest-accepted

#644 add dragon
  people/Abhiram.js
Labels: automerge, hacktoberfest-accepted

#645 Create vanesh.js
  people/vanesh.js
Labels: automerge, hacktoberfest-accepted

#647 Create sagar.js
  people/sagar.js
Labels: automerge, hacktoberfest-accepted

#649 Add tmsagar
  people/tmsagar.js
Labels: automerge, hacktoberfest-accepted

#650 Create Prakhar-Shankar.js
  people/Prakhar-Shankar.js
Labels: automerge, hacktoberfest-accepted

#651 Create Swaroop.js
  people/Swaroop.js
Labels: automerge, hacktoberfest-accepted

#653 added 0Armaan025.js
  people/0Armaan025.js
Labels: automerge, hacktoberfest-accepted

#655 Create daemonvk18.js
  people/daemonvk18.js
Labels: automerge, hacktoberfest-accepted

#656 Create rakesh.js
  people/rakesh.js
Labels: automerge, hacktoberfest-accepted

#657 Create Alisha.js
  people/Alisha.js
Labels: automerge, hacktoberfest-accepted

#659 jahnavithutta129/add-jahnavithutta129
  people/Jahnavi.js
Labels: automerge, hacktoberfest-accepted

#660 add - Mehul
  people/mehul.js
Labels: automerge, hacktoberfest-accepted

#662 Create laraib.js
  people/laraib.js
Labels: automerge, hacktoberfest-accepted

#663 Create paman6415.js
  people/paman6415.js
Labels: automerge, hacktoberfest-accepted

#666 Added
  people/himanshumahto.js
Labels: automerge, hacktoberfest-accepted

#667 Hello Open World
  people/AryadipMridha.js
Labels: automerge, hacktoberfest-accepted

#668 Added Codedrinks270.js
  people/Codedrinks270.js
Labels: automerge, hacktoberfest-accepted

#669 Adding Khushminder270.js
  people/Khushminder270.js
Labels: automerge, hacktoberfest-accepted

#670 Create amaan-farooquee.js
  people/amaan-farooquee.js
Labels: automerge, hacktoberfest-accepted

#672 Rp new
  people/rahulvp105.js
Labels: automerge, hacktoberfest-accepted

#675 Created Sure.js
  people/Sure.js
Labels: automerge, hacktoberfest-accepted

#658 Create gurjot03.js
  people/gurjot03.js
Labels: automerge, hacktoberfest-accepted

#676 Created sures.js
  people/sures.js
Labels: automerge, hacktoberfest-accepted

#679 Create Shreya.js
  people/Shreya.js
Labels: automerge, hacktoberfest-accepted

#677 Add Maulikat git to contribution
  people/maulikatgit.js
Labels: automerge, hacktoberfest-accepted

#680 Create laraib.js
  people/laraib.js
Labels: hacktoberfest-accepted

#681 DOCS: Update README.md
  README.md
Labels: automerge, hacktoberfest-accepted

#682 Create gojo.js
  people/gojo.js
Labels: automerge, hacktoberfest-accepted

#683 Create upendra.js
  people/upendra.js
Labels: automerge, hacktoberfest-accepted

#684 Create Rohan.js
  people/Rohan.js
Labels: automerge, hacktoberfest-accepted

#685 Create saket.js
  people/saket.js
Labels: automerge, hacktoberfest-accepted

#688 Created and Profile Details AmanPathan.js
  people/AmanPathan.js
Labels: automerge, hacktoberfest-accepted

#686 Create Megha.js
  people/Megha.js
Labels: automerge, hacktoberfest-accepted

#687 commiting satyum
  people/satyum.js
Labels: automerge, hacktoberfest-accepted

#689 Create su.js
  people/su.js
Labels: automerge, hacktoberfest-accepted

#690 Create rohan.js
  people/rohan.js
Labels: automerge, hacktoberfest-accepted

#692 Create Uppu.js
  people/Uppu.js
Labels: automerge, hacktoberfest-accepted

#694 Create Rose.js
  people/Rose.js
Labels: automerge, hacktoberfest-accepted

#695 Create Nani.js
  people/Nani.js
Labels: automerge, hacktoberfest-accepted

#696 Create Daemonvk18.js
  people/Daemonvk18.js
Labels: automerge, hacktoberfest-accepted

#699 Create Shambhavi.js
  people/Shambhavi.js
Labels: automerge, hacktoberfest-accepted

#701 Created A-viralS.js
  people/A-viralS.js
Labels: automerge, hacktoberfest-accepted

#704 add-sudhanshu-77.js
  people/add-sudhanshu-77.js
Labels: automerge, hacktoberfest-accepted

#705 add-jahnavi
  people/jahnavithutta.js
Labels: automerge, hacktoberfest-accepted

#706 Create romitp4l.js
  people/romitp4l.js
Labels: automerge, hacktoberfest-accepted

#707 Create Chanti.js
  people/Chanti.js
Labels: automerge, hacktoberfest-accepted

#711 Added Viper.js
  people/Viper.js
Labels: automerge, hacktoberfest-accepted

#712 Add Priyanshuthapliyal2005.js file
  people/Priyanshuthapliyal2005.js
Labels: automerge, hacktoberfest-accepted

#713 Create Killer2OP.js
  people/Killer2OP.js
Labels: automerge, hacktoberfest-accepted

#715 Create Shraddha.js
  people/Shraddha.js
Labels: automerge, hacktoberfest-accepted

#716 Create Ranjana.js
  people/Ranjana.js
Labels: automerge, hacktoberfest-accepted

#717 Create Ruhi.js
  people/Ruhi.js
Labels: automerge, hacktoberfest-accepted

#718 Add unk
  people/unk.js
Labels: automerge, hacktoberfest-accepted

#719 Created HVbajoria.js
  people/HVbajoria.js
Labels: automerge, hacktoberfest-accepted

#720 Create aastha.js
  people/aastha.js
Labels: automerge, hacktoberfest-accepted

#723 add: codeOraaange
  people/codeOraaange.js
Labels: automerge, hacktoberfest-accepted

#724 Add vidyaa18
  people/vidyaa18.js
Labels: automerge, hacktoberfest-accepted

#726 feat: add github_username.js
  people/github_username.js
Labels: automerge, hacktoberfest-accepted

#727 Create Sathvik.js
  people/Sathvik.js
Labels: automerge, hacktoberfest-accepted

#728 Create Preethi.js
  people/Preethi.js
Labels: automerge, hacktoberfest-accepted

#729 Create nani.js
  people/nani.js
Labels: automerge, hacktoberfest-accepted

#730 Create AN1KE7.js
  people/AN1KE7.js
Labels: automerge, hacktoberfest-accepted

#731 Added lisa.js
  people/lisa.js
Labels: automerge, hacktoberfest-accepted

#732 updated profile in AmanPathan.js
  people/AmanPathan.js
Labels: automerge, hacktoberfest-accepted

#733 Create Priyank911.js
  people/Priyank911.js
Labels: automerge, hacktoberfest-accepted

#734 Added links -
  people/Vaidik.js
Labels: automerge, hacktoberfest-accepted

#735 feat: add jeeehaan
  people/jeeehaan.js
Labels: automerge, hacktoberfest-accepted

#710 Adding Yash
  people/Yash.js
Labels: automerge, hacktoberfest-accepted

#709 Add vivekghori
  people/vivek.js
Labels: automerge, hacktoberfest-accepted

#736 Create salaar.js
  people/salaar.js
Labels: automerge, hacktoberfest-accepted

#737 Create Chantivarma.js
  people/Chantivarma.js
Labels: automerge, hacktoberfest-accepted

#738 Create Uppupappu.js
  people/Uppupappu.js
Labels: automerge, hacktoberfest-accepted

#740 Create OmLokhande.js
  people/OmLokhande.js
Labels: automerge, hacktoberfest-accepted

#741 Create shasvt.js
  people/shasvt.js
Labels: automerge, hacktoberfest-accepted

#739 Added nirju.js
  people/nirju.js
Labels: automerge, hacktoberfest-accepted

#742 Added thesuaveguy.js in people directory
  people/thesuaveguy.js
Labels: automerge, hacktoberfest-accepted

#743 learn open source
  people/sabarinathan07.js
Labels: automerge, hacktoberfest-accepted

#744 added my profile
  people/IndraniSom.js
Labels: automerge, hacktoberfest-accepted

#745 my folder
  people/D_sadhukhan.js
Labels: automerge, hacktoberfest-accepted

#746 added a name
  people/Harsha-10.js
Labels: automerge, hacktoberfest-accepted

#748 Create Agrwaltanisha.js
  people/Agrwaltanisha.js
Labels: automerge, hacktoberfest-accepted

#749 Added NehaMate.js
  people/NehaMate.js
Labels: automerge, hacktoberfest-accepted

#750 add my name
  people/devben.js
Labels: automerge, hacktoberfest-accepted

#751 add my name
  people/vinayak.js
Labels: automerge, hacktoberfest-accepted

#721 Create Royal.js
  people/Royal.js
Labels: automerge, hacktoberfest-accepted
